.player{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(100, 100, 100,0.5);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 8px;

    @media (min-width: 720px) {
      display: none;
    }
  }

  span{
    font-size: 14px;
  }


  img{
    margin-top: 16px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
  }


.player-active{
  background-color: orange !important;
}